html {
  min-height: 100%;
  position: relative;
}
body{
  margin: 0px 0px 0px 0px;
}

img{
  width: 100%;
  height: 450px;
  /*background-repeat: no-repeat;*/
  margin: 0px 0px 10px;
}
.heading{
  font-family: 'Poppins', sans-serif;
  display: inline;
  text-align: center;
  margin:2px 350px 2px;
  align-items: center;
  color:#034ea2
}
.line{
  margin:0px 710px;
  text-align: center;
  align-items: center;
  display: block;

}
.line hr{
  width: 100px;
  border-top:  2px solid black;
  border-bottom: 0px;
 border-radius: 2px;
 align-items: center;
}
.info{
  width:50%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin:10px auto 30px;
}
.card-container{
  margin: 40px auto;
}
.plant-card {
  display: inline-block;
  margin:50px auto;
  padding:0px  5px 70px;
  text-align: center;
}
.plant-card img{
  width:100%;
  height: 70%;
/*  align-items: center;*/
}
footer{
  text-align: center;
}
.aboutplant h3{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 2px;
  align-items: center;
  color:#034ea2
}
.aboutplant p{
  width:70%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin:10px auto 10px;
}
.address{
  border: solid 1px;
  text-align: center;
  align-content: center;
  margin:50px auto;
  width: 500px;
  height:250px;
}
.address p{
  text-align: center;
  margin-bottom: 5px;
}
.plantimages{
  margin: 10px auto;
  text-align: center;
}
.plantimages img{
  width:20%;
  height:250px;
}
