/* Style inputs with type="text", select elements and textareas */
*{
  margin: 0px;
  padding: 0px;
}

input[type=text], select, textarea {
  
    width: 100%; /* Full width */
    
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    
    background-color: #0c2b63;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #304feb;
    
  }
  
  /* Add a background color and some padding around the form */
  .container {
    position: fixed;
    left: 50%;
    right: 5%;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .contain{
    position: fixed;
    left: 0%;
    right: 50%;

  }
  #head{
    text-align: center;
    margin-top: 8%;
    font-size:  40px;
    text-decoration: left;
  }
 
  #image{
    position: fixed;
    left: 3vh;
    right: 0vh;
    margin-top: 3vh;
  }

  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  
    .header {
      padding: 1.5rem 2rem;
    }
  
    section {
      padding: 2rem;
    }
  }

  